<!DOCTYPE html>
<html>
<head>
    <title>Salvo</title>
    <link rel="stylesheet" href="styles/games.css">

</head>
<body>
<div  id="app">
    <h1>Salvo!</h1>
    <ul>My list
        <li v-for="game in games" v-if="game.gamePlayers[1]"> {{game.id}}: {{game.gamePlayers[0].player.userName}} vs {{game.gamePlayers[1].player.userName}} </li>
        <li  v-else> {{game.id}}: {{game.gamePlayers[0].player.userName}} vs waiting for an opponent </li>
    </ul>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Tied</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Jack Bauer</td>
            <td v-for="point in jackSummary">{{point}}</td>
        </tr>
        <tr>
            <td>Chloe O'Brian</td>
            <td v-for="point in chloeSummary">{{point}}</td>
        </tr>
        <tr>
            <td>Kim Bauer </td>
            <td v-for="point in kimSummary">{{point}}</td>
        </tr>
        <tr>
            <td>Tony Almeida </td>
            <td v-for="point in almeidaSummary">{{point}}</td>
        </tr>
        </tbody>
    </table>

</div>

    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--js-->
    <script src="scripts/games.js"></script>
</body>
</html>