table, td, th{
    border: 1px solid blue;
    padding: 0;
}

.my-ship{
    background-color: black;
}

.my-salvo{
    //background-color:red;
    color:red;
    font-size:120%;
    font-weight:bold;
}

.opponent-salvo{
    color:orange;
    font-size:120%;
    font-weight:bold;
}

.hit-my-ship{
    color:yellowgreen;
    font-weight:bold;
}
.title-players{
    font-size:450%;
    margin-bottom:0;
}

.place-ships-title{
    font-size:200%;
}

/*--------------------------------------------------DESAPARECER MIS GRILLAS*/


.hideGrid{
    display:none;
}

/*------------------------------------------------ STYLE.CSS*/

.grid-ships{                                                                /*mi grilla*/
    height: 540px;
    width: 540px;
    padding: 45px;
    background-image:url('../photos/big540.png');
    margin-bottom:50px;
}
.grid-ships-opponent{                                                       /*grilla oponente*/
    height: 540px;
    width: 540px;
    padding: 45px;
    background-image:url('../photos/big540.png');
}

#grid-two{                                                                  /*lugar barcos inicio*/
    height: 270px;
    width: 270px;
    border: 1px solid red;
    }

/*------------------------------------ BARCOS -----------------------------------------------------*/
.grid-stack {
    /*background-color:pink;*/
}

.grid-stack-item-content {
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    text-align: center;
}


.aircraftHorizontal{
    background-image: url('../dist/aircraftHorizontal.png');
    background-size: contain;
}

.aircraftVertical{
    background-image: url('../dist/aircraftVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
}

.battleshipHorizontal{
    background-image: url('../dist/battleshipHorizontal.png');
    background-size: contain;
    background-color: blue;
}

.battleshipVertical{
    background-image: url('../dist/battleshipVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: blue;
}

.submarineHorizontal{
    background-image: url('../dist/submarineHorizontal.png');
    background-size: contain;
    background-color: orange;
}

.submarineVertical{
    background-image: url('../dist/submarineVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: orange;
}

.destroyerHorizontal{
    background-image: url('../dist/destroyerHorizontal.png');
    background-size: contain;
    background-color: pink;
}

.destroyerVertical{
    background-image: url('../dist/destroyerVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: pink;
}

.patrolHorizontal{
    background-image: url('../dist/patrolHorizontal.png');
    background-size: contain;
    background-color: green;
}

.patrolVertical{
    background-image: url('../dist/patrolVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: green;
}


