body {
    font-family: 'Krub', sans-serif;
    background:url('../photos/fondo5.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

#navGame {
    background-color: rgba(150,150,150,0.7);
}

.logoutButton2 {
    outline:0;
    font-size:120%;
    border:none;
    background-color:#960f0f;
    width: 10%;
    margin-top: -2%;
    font-weight: bold;
    height: 40px;
    margin:0.2%;
}

.logoutButton2:hover {
    background-color: #560000;
    font-size:130%;
}

#homeButton {
    outline:0;
    font-size:120%;
    border:none;
    background-color:#085104;
    width: 10%;
    margin-top: -2%;
    font-weight: bold;
    height: 40px;
    margin: 0.2%;
}

#homeButton:hover {
    background-color: #159301;
    font-size:130%;
}

.place-ships-title, .history-title {
    color:white;
    background-color:rgba(150,150,150,0.7);
    font-weight:bold;
    width: 50%;
    font-size: 250%;
}

.history-title {
    margin:0;
}

#count-turn {
    color:white;
    background-color:black;
    font-weight:bold;
    width: 100%;
    font-size: 120%;
    padding-right:5%;
    margin-right:10%;
    height:40px;
    padding-top: 8px;
}

#count-salvoes {
    color:white;
    background-color:black;
    font-weight:bold;
    width: 100%;
    font-size: 120%;
    padding-left:5%;
    height:40px;
    padding-top: 8px;
}

.saveSalvoesButton {
    width:100%;
    font-weight:bold;
    font-size: 120%;
    margin-top: 17px;
    background-color:#c15303;
    border:none;
    button:disabled;
}

.saveSalvoesButton:hover {
    background-color:#d18f1d;
}

button.disabled {
    color:white;
    background-color:rgb(150,150,150);
    opacity:1 !important;
}

button.disabled:hover {
    color:white;
    background-color:rgb(150,150,150);
}

.saveShipsButton {
    background-color:#085104;
    margin-top: 60%;
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 150%;
    border: none;
}
.saveShipsButton:hover {
    background-color:#ad7b08;
    border: none;
    font-size:160%;
 }

/*table, td, th{
    border: 1px solid blue;
    padding: 0;
}*/
.table-history{
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:3%;
    font-weight:bold;
    width: 70%;
}

.table-history td {
    text-align:center;
    padding:1% 1%;
}

.table-history tr:nth-child(odd) td{
    background:#BAB9B9;
    opacity:0.95;
}

.table-history tr:nth-child(even) td{
    background:#D7D4D4;
    opacity:0.95;
}
.table-history th{
    padding:2% 5%;
    text-align:center;
    background:black;
    color:white;
    font-weight: bold;
}

.send-new-salvo{
    background-image:url('../photos/mirilla.png') !important;
    background-size:contain;
    z-index:1;
}

.my-ship{
    background-color: black;
}

.my-salvo{
    /*background-color:red;*/
    color:red;
    font-size:120%;
    font-weight:bold;
}

.opponent-salvo{
    color:orange;
    font-size:120%;
    font-weight:bold;
}

.hit-my-ship{
    color:yellowgreen;
    font-weight:bold;
}
.title-players{
    font-size:450%;
    margin-bottom:0;
    margin-top:0;
    font-weight:bold;
}

.table-opponent td{
    width: 45px !important;
    height: 45px !important;
    border: 0px solid yellow;
}
.table-opponent {
    position: absolute;
    margin-top:-450px;
}
/*--------------------------------------------------DESAPARECER MIS GRILLAS*/

.hideGrid{
    display:none;
}

/*------------------------------------------------ STYLE.CSS*/

.grid-ships{                                                                /*mi grilla*/
    height: 540px;
    width: 540px;
    padding: 45px;
    background-image:url('../photos/blackgrid3.png');
    margin-bottom:50px;
    margin-top:5%;
}
.grid-ships-opponent{                                                       /*grilla oponente*/
    height: 540px;
    width: 540px;
    padding: 45px;
    background-image:url('../photos/blackgrid3.png');
    margin-top:5%;
}

#grid-two{                                                                  /*lugar barcos inicio*/
    height: 270px;
    width: 270px;
    /*border: 1px solid red; PARA COMPROBAR SI ES POSIBLE O NO ENVIAR SALVOES"*/
}

/*------------------------------------ BARCOS -----------------------------------------------------*/
.grid-stack {
    /*background-color:pink;*/
}

.grid-stack-item-content {
    background-repeat: no-repeat;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    text-align: center;
}


.aircraftHorizontal{
    background-image: url('../dist/aircraftHorizontal.png');
    background-size: contain;
}

.aircraftVertical{
    background-image: url('../dist/aircraftVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
}

.battleshipHorizontal{
    background-image: url('../dist/battleshipHorizontal.png');
    background-size: contain;
    background-color: blue;
}

.battleshipVertical{
    background-image: url('../dist/battleshipVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: blue;
}

.submarineHorizontal{
    background-image: url('../dist/submarineHorizontal.png');
    background-size: contain;
    background-color: orange;
}

.submarineVertical{
    background-image: url('../dist/submarineVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: orange;
}

.destroyerHorizontal{
    background-image: url('../dist/destroyerHorizontal.png');
    background-size: contain;
    background-color: pink;
}

.destroyerVertical{
    background-image: url('../dist/destroyerVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: pink;
}

.patrolHorizontal{
    background-image: url('../dist/patrolHorizontal.png');
    background-size: contain;
    background-color: green;
}

.patrolVertical{
    background-image: url('../dist/patrolVertical.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: green;
}




/**--sunks*/

.aircraftHorizontalSunk{
    background-image: url('../dist/aircraftHorizontalSunk.png');
    background-size: contain;
}

.aircraftVerticalSunk{
    background-image: url('../dist/aircraftVerticalSunk.png');
    background-size: 100% 100%;
    width: 45px !important;
}

.battleshipHorizontalSunk{
    background-image: url('../dist/battleshipHorizontalSunk.png');
    background-size: contain;
    background-color: blue;
}

.battleshipVerticalSunk{
    background-image: url('../dist/battleshipVerticalSunk.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: blue;
}

.submarineHorizontalSunk{
    background-image: url('../dist/submarineHorizontalSunk.png');
    background-size: contain;
    background-color: orange;
}

.submarineVerticalSunk{
    background-image: url('../dist/submarineVerticalSunk.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: orange;
}

.destroyerHorizontalSunk{
    background-image: url('../dist/destroyerHorizontalSunk.png');
    background-size: contain;
    background-color: pink;
}

.destroyerVerticalSunk{
    background-image: url('../dist/destroyerVerticalSunk.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: pink;
}

.patrolHorizontalSunk{
    background-image: url('../dist/patrolHorizontalSunk.png');
    background-size: contain;
    background-color: green;
}

.patrolVerticalSunk{
    background-image: url('../dist/patrolVerticalSunk.png');
    background-size: 100% 100%;
    width: 45px !important;
    background-color: green;
}




.gameOver {
    font-size: 900%;
    position: absolute;
    z-index:4;
    margin-top:7%;
    margin-right:15%;
    margin-left:-1%;
    padding-bottom:20%;
    font-weight:bold;
    width:90%;
    height:84%;
    color:black;
    background-color:rgba(150,150,150,0.7);
}

.win{
    color:#085104;
}

.lose{
    color:#960f0f;
}

.tie{
    color:#ad7b08;
}
.gameOverSubtitle {
    font-size:20%;
}