body{
    font-family: 'Krub', sans-serif;
    /*background-color:rgb(214, 229, 255);*/
    /*background-image: linear-gradient(to right, orange , white,orange);*/
    background: url('../photos/fondo21.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 2%;
    /*height: 100%;
    width: 100%;*/
}
.invalid-button{
    background-color:grey;
}

#main-title {
    font-size: 150%;
    font-weight:bold;
    color:white;
    background-color:rgba(150,150,150,0.7);
}

.title-name {
    font-weight:bold;
}

.subtitle{
    font-size: 250%;
    color:white;
    background-color:rgba(150,150,150,0.7);
    font-weight:bold;
    margin-top:5%;
    margin-bottom:0%;
}

form{
    margin-top:7%;;
    padding-right:20%;
    padding-left:20%;
    color:white;
    font-size:150%;
    /*margin-right:5px;
    align: right;
    margin-top: -6.5%;
    position:fixed;*/
}

#firstSignupButton, #firstLoginButton {
    border: 1px solid black;
    background-color:black;
    font-size:110%;
    font-weight:bold;
}

#firstSignupButton:hover, #firstLoginButton:hover {
    border: 1px solid black;
    background-color:rgb(150,150,150);
    font-size:112%;
    font-weight:bold;
}

#firstSignupButton:focus, #firstLoginButton:focus {
    outline:0;
    border: 1px solid black;
    background-color:rgb(150,150,150);
    font-size:120%;
    font-weight:bold;
}

#signupButton, #loginButton {
    border: 1px solid black;
    background-color:black;
    font-weight:bold;
    width: 60%;
}

#signupButton:hover, #loginButton:hover {
    border: 1px solid black;
    background-color:rgb(150,150,150);
}

#writeUserName, #writePassword{
    border: 1px solid black;
    text-align:center;
    color:#960f0f;
    font-weight:bold;
}

.logoutButton {
    outline:0;
    font-size:120%;
    border:none;
    background-color:#960f0f;
    width: 10%;
    margin-top: -2%;
    font-weight: bold;
    height: 40px;
    margin-right:1%;
    margin-top:-1%;
}

.logoutButton:hover {
    background-color: #560000;
    font-size:130%;
}

#newGameButton {
    background-color:#085104;
    margin-top: 25%;
    width: 80%;
    height: 60px;
    font-weight: bold;
    font-size: 150%;
    border: none;
}
 #newGameButton:hover {
    background-color:#ad7b08;
    border: none;
    font-size:160%;
 }
.joinButton {
    background-color: #085104;
    margin-left: 2%;
    font-weight: bold;
    font-size: 110%;
    border: none;
}

.joinButton:hover {
    background-color: #a7c401;
    border: none;
    font-size: 115%;
}

.form-title {
    background:rgba(100,100,100,0.7);
    margin-bottom:3%;
}

input {
    border: 1px solid black;
}

.active-access{
    background-color:#ff9933;
}
#greeting{
    /*font-family: 'Syncopate', sans-serif;*/
    font-size:550%;
}
.myBattleList{
    color:red;
}
.noMyBattles{
    color:blue;
}

/*TABLES*/
 table{
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:3%;
    font-weight:bold;
    border:none;
    /*width:85%*/
    /*border-collapse:collapse;
    border:1px solid #004d4d;*/
}

td{
    padding:1% 1%;
}

#table-scores td {
    text-align:center;
}

#table-scores tr:nth-child(odd) td{
    background:#BAB9B9;
    opacity:0.95;
}

#table-scores tr:nth-child(even) td{
    background:#D7D4D4;
    opacity:0.95;
}
#table-scores th{
    padding:2% 5%;
    text-align:center;
    background:black;
    color:white;
    font-weight: bold;
}

#table-games{
    width:100%
}

#table-games tr:nth-child(odd) td{
    padding-left: 4%;
    background:#D7D4D4;
    opacity:0.95;
}

#table-games tr:nth-child(even) td{
    padding-left: 4%;
    background:#BAB9B9;
    opacity:0.95;
}
